.big_wrapper {
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
}
.big_wrapper .wrapper {
  padding: 35px 0;
}

.point_copy {
  width: 440px;
  h3 {
    margin: 5px 0 5px 0;
  }
}

.point_around {
  width: 440px;
  float:left; width:66%;
  h3 {
    margin: 5px 0 5px 0;
  }
}

.point_copy_center {
  width: 800px;
  h3, h5 {
    margin: 5px 0px 5px 370px;
  }
}

.point_copy_reward {
  width: 800px;
  h3, h5 {
    margin: 5px 0px 5px 370px;
  }
}

h3 {
  font-size: 42px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  color: #292929;
  line-height: 1.3;
  margin: 0;
}

.point_copy p, #other_points li p {
    line-height: 1.5;
}

#one {
  background: url(image_path("1-background.jpg")) no-repeat bottom left;
  height: 570px;
  width: 936px;
}

#two {
  background: url(image_path("2-background.jpg")) no-repeat bottom left;
  height: 570px;
}

#three {
  background: url(image_path("3-background.jpg")) no-repeat bottom left;
  height: 570px;
}

#four {
  background: url(image_path("4-background.jpg")) no-repeat bottom left;
  height: 570px;
}

#five {
  background: url(image_path("5-background.jpg")) no-repeat bottom left;
  height: 570px;
}

#six {
  background: url(image_path("6-background.jpg")) no-repeat bottom left;
  height: 570px;
}

#seven {
  background: url(image_path("7-background.jpg")) no-repeat bottom left; 
  height: 1000px;
}

.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }   
 
.rotate:hover   
{ 
    -webkit-transform:rotate(326deg);
    -moz-transform:rotate(326deg); 
    -o-transform:rotate(326deg);
}   


.right {
  margin-left: 500px;
}
