<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h3><font size="6.5">Frequently Asked Questions</font></h3>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>How do you want to use the money?</summary>
          <p>Now that we have proven the Wayki Connect concept we want the funds to develop the other  more traditional functionality (which have already been conceptualised), and scale up to mass production so we can start spreading the morning love around the world with Wayki.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Why are you the right people for this project?</summary>
          <p>I created/designed Wayki myself, I have built a great working relationship with a reputable engineering company, who have already proven their expertise with the development of our prototype model.</p>
		  </details>
      </li>
	  <li>
        <details class=''>
          <summary>How long will it be until I get my hands on a Wayki of my own?</summary>
          <p>Broadly speaking, we already have a physical prototype and have identified the factories we'll be using in China. We're also preparing the PCB for production but the main time consuming process lies with getting the professional moulds developed. We're estimating 3 - 5 months for batch 1 (determined by number of pre-orders) but make sure you get onto our newsletter to stay up to date at http://www.wayki.co. I'll be checkpointing every step of the way on the blog, and we welcome you to leave comments. You can even share your morning horror stories if the urge takes you!</p></details>
      </li>
	  <li>
        <details class=''>
          <summary>What will I do about replacement brushes?</summary>
          <p>Our brushes will be available via the main website (<a href="http://wayki.co" target="_blank">Wayki.co</a>) soon after Wayki has been ratcheted up to mass production. That's all we can reveal at this point but we can say the following:
<br>- Affordable price point, competing with the cost of existing electric toothbrush heads
<br>- New designs will be introduced as time goes on plus added personalisation options will be considered if there is demand.
<br>- Subscriptions will be available at our subscription store. Brushes will be conveniently delivered straight to your door!
         		 </p></details>
      </li>
      <li>
        <details class=''>
          <summary>What happens if I can't disable Wayki?</summary>
         <p>We have some plans ahead but currently there are two options:
<br>
1. If there's a chance that your bathroom will be engaged when you get up, leave the brush in another room which you have access to. (No, not your bedroom - too easy.)
<br>
2. If we have a good return on Kickstarter we'll package every Wayki order with a second brush - one for the bathroom and one as a backup.</p>
</details>
      </li>
      <li>
        <details class=''>
          <summary>Is Wayki going to get my child/younger sibling to brush their teeth?</summary>
            <p>You bet! We've already done tests with this (not extensive) and after several days the habit sets in. The beauty of Wayki is that it creates good habits without any thought required, for chores that have historically required a little self motivation.<br>
The secret to getting anyone to do anything that isn't fun is to help them (1) understand the benefit, then (2) remove as much friction as possible. That's our philosophy anyway!<br>
Some other good timeless advice <a href="http://www.parentdish.com/2010/10/04/how-can-i-get-my-son-to-brush-his-teeth/" target="_blank">here</a>.</p>

        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>What is Wayki Connect?</summary>
          <p>Wayki Connect is the proprietary technology we've engineered to offer an alarm clock that guarantees to get you running in the morning, not crawling until the afternoon. Technically, it's the functionality between the brush and Wayki - by inserting the brush you stop the alarm and start the 2 minute timer.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Are you shipping overseas?</summary>
           <p>You bet! Delivery is a flat rate of 7.50 worldwide, and free to the UK.</p>
  </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Is Wayki available in large multiples? (Distributors)</summary>
           <p>Certainly. Let us know how many Wayki's you'd like in multiples of 10 or 100, and we'll offer you a discount. You can get in touch with us with a quick <a href="mailto:contact@wayki.co" target="_blank">email</a>.</p>
 </details>
      </li>
	  <li class=''>
        <details class=''>
          <summary class=''>What is the best way to use Wayki?</summary>
           <p>The key to efficient mornings is preparation - make the important decisions the night before and you will flow into the day ahead. It's all about reducing decision-making.
<br>
For a super quick start, a great approach is to leave your clothes in the bathroom before you go to bed at night. This way, you're straight in the bathroom and can come out ready for that morning jog, or even work!</p>
</details>
      </li>
	  <li class=''>
        <details class=''>
          <summary class=''>I don't want to run out of bedroom scantily clad!?</summary>
          <p>Well get some pajamas! If you want momentum in the morning you can't be thinking about how you look first thing. Listen, you really should stop sleeping naked, ok? Yes, we do know.
          <p> 
 </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Where else can I find you?</summary>
		  We're social! Find us at the following sites:
          <p>Twitter: @waykime<br>
Facebook: <a href="https://www.facebook.com/pages/Wayki/361723723900843" target="_blank">Facebook Page</a><br>
YouTube: <a href="https://www.youtube.com/channel/UCjHy0hYjKeuRjh6zWpIBTRg/videos?view=0&flow=grid/" target="_blank">Wayki Channel</a><br>
Launch Website: <a href="http://wayki.co">Wayki.me</a><br>
Future Store: <a href="http://wayki.co" target="_blank">Wayki.co</a></p>
        </details>
      </li>
    </ul>
  </div>
</div>
