<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h3><font size="6.5">Frequently Asked Questions</font></h3>
    <ul>
      <li class=''>
        <details class=''>
            <summary class=''>How do you want to use the money?</summary>
          <p>Now that we have proven the Wayki Connect concept we want the funds to develop the other  more traditional functionality (which have already been designed), and scale up to mass production so we can start spreading the morning love around the world with Wayki.</p>
      </details>
      </li>
      <li>
        <details class=''>
           <summary>Why are you the right people for this project?</summary>
          <p>I created/designed Wayki myself, I have built a great working relationship with a reputable  engineering company, who have already proven their expertise with development of our prototype model.</p>
        </details>
      </li>
      <li>
        <details class=''>
         <summary>How long will it be until I get my hands on a Wayki?</summary>
          <p>Broadly speaking, we already have a physical prototype and have identified the factories we will be using in China. We're also preparing the PCB for production but the main time consuming process lies with getting the professional moulds developed. We're estimating 3 - 5 months for batch 1 (determined by number of pre-orders) but make sure you get onto our newsletter to stay up to date on the blog. I'll be checkpointing every step of the way on the blog, and we welcome you to leave comments. You can even share your morning horror stories if the urge takes you!</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What about replacement brushes?</summary>
          <p>Our brushes will be available via the website (http://www.wayki.co) soon after Wayki has been ratcheted up to mass production. That's all we can reveal at this point but we can say the following:
<br>- Affordable price point, competing with the cost of existing electric toothbrush heads
<br>- New designs will be introduced as time goes on + added personalisation options will be considered if there is demand.
<br>- Subscriptions will be available at our subscription store. Brushes will be conveniently delivered straight to your door!
         		 </p>
          </p>
        </details>
      </li>
	  <li>
        <details class=''>
           <summary>gffffffffffffffffffffffffffffffffffffffffff</summary>
          <p>I created/designed Wayki myself, I have built a great working relationship with a reputable  engineering company, who have already proven their expertise with development of our prototype model.</p>
        </details>
      </li>
	  <li>
        <details class=''>
           <summary>gffffffffffffffffffffffffffffffffffffffffff</summary>
          <p>I created/designed Wayki myself, I have built a great working relationship with a reputable  engineering company, who have already proven their expertise with development of our prototype model.</p>
        </details>
      </li>
    </ul>
	
	
	
	
	
	 <ul class='col2'>
      <li>
        <details class=''>
          <summary>What happens if I can’t disable Wayki?</summary>
           <p>We have some plans ahead but currently there are two options:
<br>
1. If there's a chance that your bathroom will be engaged when you get up, leave the brush in another room which you have access to. (No, not your bedroom - too easy ^^.)
<br>
2. If we have a good return on Kickstarter we'll package every Wayki order with a second brush - one for the bathroom and one as a backup.</p>
        </details>
      </li>
     