<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy right">
      <h3>
        <font size="6.5">Up on time. Always.</font>
      </h3>
	  <h5>
      <p><font size="3">Desperate for more time in the day? With Wayki's dual-purpose design you'll develop good life-long habits, even while you mind's on other things.</p></font>
      </h5>
	  
	</div> 
		<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="point_copy left">
      <h3>
        <font size="6.5">180 degrees of comfort€</font>
      </h3>
	  
	  <h5>
      <p><font size="3">Whether Wayki is sitting on the floor or the night stand, she'll be watching over you lovingly. The 180 degree angle makes her the perfect travelling companion.</p></font>
      </h5>
	  </div>
 </div>
</div>
	  
<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy_center">
	<h5>
	 <p><font size="3">Our proprietory Wayki Connect technology gives you instant morning momentum - you'll have to get to the bathroom to stop the alarm!</p></font>
    </h5>
	 <h3>
        <font size="6.5">Thinking. When you're not.</font>
    </h3>
	</div>
	<div class="point_copy_center">
     <br>
     <br>
     <br>
     <br>
 <br>
     <br> 
	 <h5>
	  <p><font size="3">Disable the alarm by inserting the Wayki Brush into the top, and triggering the 2 minute brush timer. Find the time for a healthy breakfast, or even that morning run you've been avoiding!</p></font>
      </h5>
	   <h3>
        <font size="6.5">The healthiest start...</font></p>
      </h3>
	</div>
  </div>
</div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy right">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	 <h3>
        <font size="6.5">Quick & easy alarm</font>
    </h3>
	<h5>
	 <p><font size="3">Wayki's really quick and easy to setup anytime or place. But those buttons won't work when the alarm is on!</p></font>
    </h5>
	</div>
  </div>
</div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_aroundr">
	<br>
     <h3>
        <font size="6.5"><p align="right">Sleeping softly</font></p>
    </h3>
	  <br>
	  <br>
	<br>
	<br>
	 <br>
	<br>
	<br>  
	 <br>
	 <br>
	<br>
	<h5>
      <p><font size="3"><p align="right">Softly lit up at night so you never have to fumble for your phone or stress about when the alarm is due. But still dim enough to leave you in peace, counting sheep.</p></p></font>
      </h5>
	 </div> 
	 
	
	<div class="point_aroundl">
	<br>
 <h5>
      <p><font size="3">Wayki discreetly lets you know when she's recharging<br> her batteries. So you know she'll carry you in the morn-<br>ing without fuss and without stress.</p></font>
      </h5>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	   <br>   
	<br>
	 <br>
	  <br>
	<br>
		<h3>
        <font size="6.5">Relax & stay informed</font>
    </h3>
	 </div>
	 
	 
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="six">
     <div class="point_aroundl2">
      <h3>
      Rewards
      </h3>
	  <br>
	  <h5>
      <p><font size="3"><p align="left">Welcome to the 'Rewards' segment of the campaign that we've crafted to create a more exciting and engaging sense of 
achievement throughout the campaign. The first Reward Badge on the blog lists the funding checkpoints, as well as linking you to the upgrade you've earned and listing the following checkpoint. The first 
big milestone we hope to pass is 10,000 and a juicy upgrade awaits, so please help us get 
there as fast as possible. But don't wait up, click on the token to the right to see what you've unlocked already!</p></p></font>
      </h5>
    </div>
    <div class="point_aroundr2">
	<br
	<br>
	<br>
	<br>
	  <p align="right"><a href="http://wayki.co/blogs/blog/7109956-upgrade-unlocked" target="_blank"><img src="/assets/BadgeCSS3.png" width="184" height="184" class="rotate"/></a></p>
    </div>
	
	 <div class="point_full">
	<br>
	<h5>
      <p><font size="3"><p align="left">Keep an eye out for rewards on the blog. We're counting on you to help us launch with a bang, and there are a bucket load of goodies, upgrades - and who knows what else - waiting for you throughout the journey. The more checkpoints we pass, the more powerful Wayki becomes for all! </p></p></font>
      </h5>
	
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="seven">
    <div class="point_full">
      <h3>
        Qualifications
      </h3>
    <br>
	
	  <h5>
   	  <p><font size="3"><p align="left">To ensure that we can deliver on what we're promising here, Wayki has been taken from
crude concept to life through partnering with a proven engineering company. We've worked together since the CAD (Computer Aided Design) work but more importantly, they have experience in taking products to mass production. Through our partnership we now have both domestic and overseas engineering support, and have already reached out to suppliers and manufacturers in China. Below, you'll see a quote that was prepared last year showing the proposed schedule - which we're eager to knock into high gear once we get the green signal!</p></p></font>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
<font size="3"> Most of the time will likely be spent with the tooling up and quality assurance. (This step has the most substantial impact on the quality of the final commercial model, so we have to be very patient!) We've also complicated the process a little by working with several factories for different Wayki parts - but there is a reason for that. China is famous for its black market and it's one of the more effective measures companies 
can take to protect their assets. We are working with proven factories, but the risk is still very much present. With all things considered, we will be ready for mass production of Wayki within 4 - 6 months. The size of batch 1
will be weighed by the interest generated through this campaign, so we'll position ourselves to fulfill orders as efficiently as we can. But even so, for extra peace of mind we've decided not to charge backers until Wayki is snuggly boxed and ready for dispatch to your door. 
<br>
<br>
<p>Finally, that leaves us to say that this is really just the beginning for Wayki, both in terms of our crowdfund and where forthcoming trends in technology can take us. We're super excited to be unveiling our little project to the world and hope you'll help us spread the message to friends and family who are looking for more productivity from their mornings. Make sure you sign up to our free updates newsletter to know what's going
on throughout the campaign - sign up at <a href="http://wayki.co" target="_blank">Wayki.co</a>. If you have questions, ideas, or even stories, send via <a href="mailto:contact@wayki.co" target="_blank">email</a>!</font>
</p>
</h5>
    </div>
  </div>
</div>
