<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy right">
	  <style>
p.pos_fixed
{
position:relative;
top:36px;
right:46px;
}
</style>
      <h3>
        <font size="6"><p class="pos_fixed">Up on time. Always.</p></font>
      </h3>
      <div class="newspaper">
      <p><font size="3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud. </p></font>
      </div>
	</div> 
	<br>
	<br>
	<br>
	<div class="point_copy left">
      <h3>
        <font size="6">What is Selfstarter?</font>
      </h3>
	  <div class="newspaper">
      <p><font size="3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud. </p></font>
      </div>
	</div>
	  </div>
  </div>
</div>
	  
<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        Selfstarter is a starting point for you to build your own solution. It is set up to collect reservations using Amazon Payments, but you can choose your own provider too.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="five">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="six">
    <div class="point_copy right">
	  <p align="right"><a href="http://wayki.co/blogs/blog/7109956-upgrade-unlocked" target="_blank"><img src="http://cdn.shopify.com/s/files/1/0166/6136/files/BadgeCSS3.png?106" width="184" height="184" class="rotate"/></a></p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="seven">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

