<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy right">
      <h3>
        <font size="6.5">Up on time. Always.</font>
      </h3>
      <div class="newspaper">
	  <h5>
      <p><font size="3">Desperate for more time in the day? With Wayki's dual-purpose design you'll develop good life-long habits, even while you mind's on other things.</p></font>
      </h5>
	  </div>
	</div> 
	<div class="point_copy left">
		<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
      <h3>
        <font size="6.5">180 degrees of comfort</font>
      </h3>
	  <div class="newspaper">
	  <h5>
      <p><font size="3">Whether Wayki is sitting on the floor or the night stand she'll be watching over you lovingly. The 180 degree angle makes her the perfect travelling companion.</p></font>
      </h5>
	  </div>
	</div>
	  </div>
  </div>
</div>
	  
<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy_center">
	<h5>
	 <p><font size="3">Our proprietory Wayki Connect technology gives you instant<br> morning momentum - you'll have to get to the bathroom to stop<br> the alarm!</p></font>
    </h5>
	 <h3>
        <font size="6.5">Thinking. When you're not.</font>
    </h3>
	</div>
	<div class="point_copy_center">
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
	 <br>
     <br>	
 <br>
     <br>
     <br>
     <br>	 
	 <h5>
	  <p><font size="3">Disable the alarm by inserting the Wayki Brush into the top, and trigger the 2 minute brush timer. Find the time for a healthy breakfast, or even that morning run you've been avoiding!</p></font>
      </h5>
	   <h3>
        <font size="6.5">The healthiest start</font></p>
      </h3>
	</div>
  </div>
</div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class=".point_copy right">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	 <h3>
        <font size="6.5">Quick & easy alarm</font>
    </h3>
	<h5>
	 <p><font size="3">Wayki's really quick and easy to setup anytime or place. But those buttons won't work when the alarm is on!</p></font>
    </h5>
	</div>
  </div>
</div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_aroundr">
	<br>
	<br>
     <h3>
        <font size="6.5"><p align="right">Sleeping softly</font></p>
    </h3>
	  <br>
	  <br>
	<br>
	 <br>
	  <br>
	<br>
	 <br>
	   <br>   
	<br>
	<br>
	   <br>   
	 <br>
	<br>
	 <br>
	  <br>
	<br>
	<h5>
      <p><font size="3"><p align="right">Softly lit up at night so you never have to<br> fumble for your phone or stress about when<br> the alarm is due in the morning.</p></p></font>
      </h5>
	 </div> 
	 
	
	<div class="point_aroundl">
	<br>
	<br>
 <h5>
      <p><font size="3">Wayki discreetly lets you know when she's charging<br> her batteries. So you know she'll carry you in the<br> morning without fuss.</p></font>
      </h5>
	  <br>
	  <br>
	<br>
	 <br>
	  <br>
	  <br>
	  <br>
	   <br>   
	   <br>
	<br>
	 <br>
	  <br>
	<br>
	 <br>
	  <br>
	<br>
		<h3>
        <font size="6.5">Relax & stay informed</font>
    </h3>
	 </div>
	 
	 
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="six">
     <div class="point_aroundl2">
      <h3>
      Rewards
      </h3>
	  <br>
	  <h5>
      <p><font size="3"><p align="left">At the top of the page you probably saw the badge to the right. At the top of the page you probably saw the badge to the right.</p></p></font>
      </h5>
    </div>
    <div class="point_aroundr2">
	  <p align="right"><a href="http://wayki.co/blogs/blog/7109956-upgrade-unlocked" target="_blank"><img src="http://cdn.shopify.com/s/files/1/0166/6136/files/BadgeCSS3.png?106" width="184" height="184" class="rotate"/></a></p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="seven">
    <div class="point_copy left">
      <h3>
        Qualifications
      </h3>
    <br>
	  <h5>
      <p><font size="3"><p align="left">At the top of the page you probably saw the badge to the right. At the top of the page you probably saw the badge to the right.</p></p></font>
      </h5>
	  </div>
	  <div class="point_aroundr2">
<div id="video2">
<iframe width='360' height='271' src="http://player.vimeo.com/video/42932450?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
</div>
    </div>
	 <div class="point_full">
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <h5>
      <p><font size="3"><p align="left">At the top of the page you probably saw the badge to the right. At the top of the page you probably saw the badge to the right. At the top of the page you probably saw the badge to the right.</p></p></font>
      </h5>
    </div>
  </div>
</div>
