<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy right">
      <h3>
        <font size="6">Up on time. Always.</font>
      </h3>
      <div class="newspaper">
	  <h5>
      <p><font size="2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p></font>
      </h5>
	  </div>
	</div> 
	<div class="point_copy left">
		<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
      <h3>
        <font size="6">What is Selfstarter?</font>
      </h3>
	  <div class="newspaper">
	  <h5>
      <p><font size="2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p></font>
      </h5>
	  </div>
	</div>
	  </div>
  </div>
</div>
	  
<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy_center">
	<h5>
	 <p><font size="2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <br>nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p></font>
    </h5>
	 <h3>
        <font size="6">Up on time. Always.</font>
    </h3>
	</div>
	<div class="point_copy_center">
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
	 <br>
     <br>
     <br>
     <br>	
 <br>
     <br>
     <br>
     <br>	 
	 <h5>
	  <p><font size="2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <br>nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p></font>
      </h5>
	   <h3>
        <font size="6">What is Selfstarter?</font></p>
      </h3>
	</div>
  </div>
</div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="five">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="six">
     <div class="point_copy left">
      <h3>
        Rewards
      </h3>
    </div>
    <div class="point_copy right">
	  <p align="right"><a href="http://wayki.co/blogs/blog/7109956-upgrade-unlocked" target="_blank"><img src="http://cdn.shopify.com/s/files/1/0166/6136/files/BadgeCSS3.png?106" width="184" height="184" class="rotate"/></a></p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="seven">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

