<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h3><font size="6.5"><p align="center">Community</h3></font></p>
      <h7>
		  <font size="4">One of the reasons we went the crowd- funding route was 
because it's a great way to engage people and encourage
conversation. Make the internet that bit more social and
head over to <a href="http://wayki.co" target="_blank">Wayki.co</a> for our live blog! </font>        
		 </h7>
    </li>
    <li id="section-2">
      <h3><font size="6.5"><p align="center">Project Updates</h3></font></p>
      <h7>
		  <font size="4">The 29 day launch of Wayki has many moving parts and will
be evolving fast. Once again, to stay up to date head over 
to the blog. I recommend you sign up to the newsletter so you don't miss a
beat. (We've also got an <a href="http://wayki.co/blogs/blog.atom" target="_blank">RSS feed</a>.)</font>        
		 </h7>
    </li>
    <li id="section-3">
      <h3><font size="6.5"><p align="center">How This Works</h3></font></p>
      <h7>
		  <font size="4">Crowdfunding is a democratic and social approach to funding 
ideas. (Like a startup company). Kickstarter has popularised
this movement and it has only just begun. Crowdfunds are only
successful if funding goals are reached before the end.</font>        
		 </h7>
    </li>
    <li id="section-4">
      <h3><font size="6.5"><p align="center">About Us</h3></font></p>
      <h7>
		  <font size="4">We are a small team of designers, engineers and entrepreneurs looking for big challenges that can make at least a 
modest dent in the universe. Our goal is to create products
that people can no longer imagine living without. Simple.</font>        
		 </h7>
    </li>
  </ul>
</div>
