<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h3><font size="6.5"><p align="center">Community</h3></font></p>
      <p>One of the reasons we went the crowdfunding route</p>
    </li>
    <li id="section-2">
      <h3><font size="6.5"><p align="center">Project Updates</h3></font></p>
      <p>Vivamus nec posuere mauris. Suspendisse mi sem, egestas ac tristique ac, varius ac lectus. Sed porttitor dolor adipiscing mauris sagittis.</p>
    </li>
    <li id="section-3">
      <h3><font size="6.5"><p align="center">How This Works</h3></font></p>
      <p>Test</p>
    </li>
    <li id="section-4">
      <h3><font size="6.5"><p align="center">About Us</h3></font></p>
      <p>We are a small team of designers, engineers and entrepreneurs looking for big challenges that can make at least a 
modest dent in the universe. Our goal is to create products
that people can no longer imagine living without. Simple.</p>
    </li>
  </ul>
</div>
