<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h3><font size="6.5"><p align="center">Community</h3></font></p>
      <p>Morbi tempus dapibus egestas. Nullam accumsan dolor ut purus ornare congue. Phasellus ac commodo neque. Quisque non ligula lacus, id hendrerit eros.</p>
    </li>
    <li id="section-2">
      <h3><font size="6.5"><p align="center">Project Updates</h3></font></p>
      <p>Vivamus nec posuere mauris. Suspendisse mi sem, egestas ac tristique ac, varius ac lectus. Sed porttitor dolor adipiscing mauris sagittis.</p>
    </li>
    <li id="section-3">
      <h3><font size="6.5"><p align="center">How This Works</h3></font></p>
      <p>Curabitur dolor elit, placerat et malesuada et, tristique vel nulla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </li>
    <li id="section-4">
      <h3><font size="6.5"><p align="center">About Us</h3></font></p>
      <p>Curabitur ac mi elit, nec tempor odio. Nam sollicitudin, sapien sit amet elementum pretium, turpis mi fermentum nisl, ac vehicula purus lacus non velit.</p>
    </li>
  </ul>
</div>
