<div id='logos'>
  <ul class="wrapper clearfix">
    <li id="awesomeblog"><a href="http://www.wayki.me"></a></li>
    <li id="coolpaper"><a href="http://www.wayki.me"></a></li>
    <li id="nicemag"><a href="http://www.wayki.me"></a></li>
    <li id="readcrunch"><a href="http://www.wayki.me"></a></li>
  </ul>
</div>
