<head>
<script type="text/javascript" src="//use.typekit.net/wmg5noj.js"></script>
</head>
<div class="gray_background">
  <%= render 'preorder/homepage/value_proposition' %>
  <%= render 'preorder/homepage/stats' %>
</div>