<head>
<script type="text/javascript" src="//use.typekit.net/wmg5noj.js"></script>
<script type="text/javascript" target="_blank">try{Typekit.load();}catch(e){}</script>
<style type="text/css">
  .wf-loading .h1,
  .wf-loading .h2 {
    /* Hide the blog title and post titles while web fonts are loading */
    visibility: hidden;
  }
</style>
</head>
<div class="gray_background">
  <%= render 'preorder/homepage/value_proposition' %>
  <%= render 'preorder/homepage/stats' %>
</div>