<head>
<script type="text/javascript" src="//use.typekit.net/wmg5noj.js"></script>
<script type="text/javascript" target="_blank">try{Typekit.load();}catch(e){}</script>
<style type="text/css">
  .wf-loading .h2,
  .wf-loading .title {
    /* Hide the blog title and post titles while web fonts are loading */
    visibility: hidden;
  }
</style>
<div class="wrapper center">
  <h2><%= Settings.value_proposition %></h2>
</div>