<div class="sidebar">
  <h4>When will I be charged?</h4>
  <p>
    We won't charge your card until your Wayki is boxed up and ready for you. UK shipping is free!
  </p>
  <h4>Can I manage my reservation?</h4>
  <p>
    Certainly. Your order can be accessed through [ENTER PROCESSOR HERE]'s website.
  </p>
  <h4>What will Wayki retail for?</h4>
  <p>
    The funds raised through our crowdfund will influence which model of Wayki reaches retail. But I can say that the minimum RRP will be £99.
  </p>
</div>  
