<div class="sidebar">
  <h4>When will I be charged?</h4>
   <h6>
		  <font size="2">
    We won't charge your card until your Wayki is snuggly boxed and ready for you - you'll receive a email notification of payment at that time.<br><br>
  </font>        
		 </h6>
  <h4>Can my reservation be accessed online?</h4>
  <h6>
		  <font size="2">
    Your order can be accessed at any time through GoCardless. You'll also have a confirmation email containing your details.<br><br>
  </font>        
		 </h6>
		 
		 
		 
  <h4>Is Wayki available in large multiples? (Distributors)</h4>
  <h6>
		  <font size="2">
    Certainly. Click on the 'Multibuy' link to the left and select either 10 or 100 items. Send us an <a href="mailto:contact@wayki.co" target="_blank">email</a> if you have any questions.<br><br>
  </font>        
		 </h6> 
</div>  
