<div class="sidebar">
  <h4>When will I be charged?</h4>
    <h6>
    <font size="2">
    If we reach &pound;50,000 within 29 days, you'll be charged once the campaign ends. We'll then keep you updated via the blog until your Wayki arrives.
    </font>        
	</h6>
  <h4>Can my reservation be accessed online?</h4>
    <h6>
	<font size="2">
    Access your order at any time via your GoCardless account - check email for link. This is also where you can cancel your reservation at any time.
    </font>        
    </h6>
  <h4>Can I buy more than one Wayki?</h4>
    <h6>
    <font size="2">
    Sure! Know someone who's in need of a morning makeover? Simple select from the drop-down. Distributors can also get upto a further 20% discount for bulk orders.
    </font>        
    </h6> 
</div>  
