<div class="sidebar">
  <h4>When will I be charged?</h4>
  <p>
    We won't charge your card until your Wayki is snuggly boxed and ready for you - we'll send a confirmation email just before dispatch.
  </p>
  <h4>Can I manage my reser- vation?</h4>
  <p>
    Your order can be accessed through [ENTER PROCESSOR HERE]. You'll have a confirmation email containing your details.
  </p>
  <h4>What will Wayki retail for?</h4>
  <p>
    The more funds we raise through crowdfunding, the more advanced Wayki will be at launch! However, the minimum RRP will be 99.00.
  </p>
</div>  
