<div class="sidebar">
  <h4>When will I be charged?</h4>
   <h6>
		  <font size="2">
    We won't charge your card until your Wayki is snuggly boxed and ready for you - you'll receive a email notification of payment at that time.<br><br>
  </font>        
		 </h6>
  <h4>Can my reservation be accessed online?</h4>
  <h6>
		  <font size="2">
    Your order can be accessed at any time via GoCardless. You'll have a confirmation email containing your details.<br><br>
  </font>        
		 </h6>
  <h4>What will Wayki retail for?</h4>
  <h6>
		  <font size="2">
    The more funds we raise through crowdfunding, the more advanced Wayki will be at launch! However, the minimum RRP will be 99.00.<br><br>
  </font>        
		 </h6>
</div>  
