<div class="sidebar">
  <h5>When will I be charged?</h5>
  <p>
    We won't charge your card until your Wayki is boxed up and ready for you. (UK shipping is free!)
  </p>
  <h5>Can I manage my reservation?</h5>
  <p>
    Certainly. Your order can be accessed through Amazon Payments. (The credit processor.)
  </p>
</div>  
