<div class="sidebar">
  <h4>When will I be charged?</h4>
   <h6>
		  <font size="2">
    We won't charge your card until your Wayki is snuggly boxed and ready for you - we'll send a confirmation email just before dispatch.
  </font>        
		 </h6>
  <h4>Can I manage my reser- vation?</h4>
  <h6>
		  <font size="2">
    Your order can be accessed through [ENTER PROCESSOR HERE]. You'll have a confirmation email containing your details.
  </font>        
		 </h6>
  <h4>What will Wayki retail for?</h4>
  <h6>
		  <font size="2">
    The more funds we raise through crowdfunding, the more advanced Wayki will be at launch! However, the minimum RRP will be 99.00.
  </font>        
		 </h6>
</div>  
