.main_content 
{
  width: 560px;
  float: left;
  h3 
  {
    margin-bottom: 10px;
    color: #4b4b4b;
    line-height: 1;
  }
  p 
  {
    line-height: 1.5;
  }
  #checkout
  {
    #email
    {
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #CCC;
      width: 350px;
      outline: none;
    }
    #quantity{
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #CCC;
      outline: none;
    }
    .invalid
    {
      border: 1px solid orange;
    }
    #amazon_button
    {
      margin-top: 5px;
      padding: 15px;
      border: none;
    }
  }
}

.sidebar 
{
  float: right;
  width: 300px;
  p 
  {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.3;
  }
}

.dropdown 
{
color: #4b4b4b;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
background: #fff; 
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 245px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a 
{
color: #4b4b4b;
display: block;
font-family: Helvetica;
font-weight: normal;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#31cafb;
color: #FFFFFF; 
text-decoration: none;
}
a.account 
{
font-size: 24px;
line-height: 16px;
color: #4b4b4b;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 245px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 14px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede; 
}
