.main_content 
{
  width: 560px;
  float: left;
  h3 
  {
    margin-bottom: 10px;
    color: #4b4b4b;
    line-height: 1;
  }
  p 
  {
    line-height: 1.5;
  }
  #checkout
  {
    #email
    {
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #CCC;
      width: 350px;
      outline: none;
    }
    .invalid
    {
      border: 1px solid orange;
    }
    #amazon_button
    {
      margin-top: 5px;
      padding: 15px;
      border: none;
    }
  }
}

.sidebar 
{
  float: right;
  width: 300px;
  p 
  {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.3;
  }
}

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;
 
    /* Styles */
    background: <a class="_hootified" a="" href="#" #fff"="" onclick="javascript:var e = document.createEvent("CustomEvent"); e.initCustomEvent("hootletEvent", true, true, {type: "hash", value: "#fff"});  document.body.dispatchEvent(e); return false;">#fff</a>;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}
 
.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: <a class="_hootified" a="" href="#" #4cbeff"="" onclick="javascript:var e = document.createEvent("CustomEvent"); e.initCustomEvent("hootletEvent", true, true, {type: "hash", value: "#4cbeff"});  document.body.dispatchEvent(e); return false;">#4cbeff</a> transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
 
    /* Styles */
    background: <a class="_hootified" a="" href="#" #fff"="" onclick="javascript:var e = document.createEvent("CustomEvent"); e.initCustomEvent("hootletEvent", true, true, {type: "hash", value: "#fff"});  document.body.dispatchEvent(e); return false;">#fff</a>;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
 
    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}
 
.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: <a class="_hootified" a="" href="#" #333"="" onclick="javascript:var e = document.createEvent("CustomEvent"); e.initCustomEvent("hootletEvent", true, true, {type: "hash", value: "#333"});  document.body.dispatchEvent(e); return false;">#333</a>;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid <a class="_hootified" a="" href="#" #e6e8ea"="" onclick="javascript:var e = document.createEvent("CustomEvent"); e.initCustomEvent("hootletEvent", true, true, {type: "hash", value: "#e6e8ea"});  document.body.dispatchEvent(e); return false;">#e6e8ea</a>;
}
 
.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}
 
.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}
 
/* Hover state */
 
.wrapper-dropdown-5 .dropdown li:hover a {
    color: <a class="_hootified" a="" href="#" #57a9d9"="" onclick="javascript:var e = document.createEvent("CustomEvent"); e.initCustomEvent("hootletEvent", true, true, {type: "hash", value: "#57a9d9"});  document.body.dispatchEvent(e); return false;">#57a9d9</a>;
}

/* Active state */
 
.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}
 
.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}
 
.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}