#header 
{
  width: 100%;
  padding: 26px 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: #fcfcfc;
  position: relative;
}
.wrapper
{
  width: 935px;
  margin: 0 auto;
}
#wayki-header {
  border: none;
}
a {
  text-decoration: none;
  color: #0008D6;
}
#wayki-logo
{
  position: relative;
  top: 4px;
  left: 325px;
  width: 188px;
  height: 36px;
}

#blog-button {
position: absolute;
top: 28px;
right: 130px;
padding: 3px 10px 3px 10px;
border: 1px solid #E2E2E2;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.41);
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.41);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.41);
}

#button-text {
line-height: 28px;
padding: 0 5px;
font-family: "ariel";
color: #3F3F3F;
text-decoration: none;
font-size: 16px;
}
