<head>
<meta name="google-site-verification" content="VDqNl5K_sJVO6GQMVs06_tn0xk3proXx2XIVPh4HDns" />
</head>

<div id="header">
  <div class="wrapper clearfix">
    <div id="wayki_header">
	<a href="/">
	<img alt="Wayki" id="wayki-logo" src="/assets/wayki-logo.png">
	</a>
	
<a href="http://wayki.co" class="blog-button">Blog</a>
		
	</div>
  </div>
</div>