<div id="header">
  <div class="wrapper clearfix">
    <div id="wayki_header">
	<a href="/">
	<img alt="Wayki" id="wayki-logo" src="/assets/wayki-logo.png">
	</a>
	
<a href="http://wayki.co" class="blog-button">Blog</a>
		
	</div>
  </div>
</div>