<head>
<script type="text/javascript" src="//use.typekit.net/wmg5noj.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<div id="header">
  <div class="wrapper clearfix">
    <div id="wayki_header">
	<a href="/">
	<img alt="Wayki" id="wayki-logo" src="/assets/wayki-logo.png">
	</a>
	
<a href="http://wayki.co" class="blog-button">Blog</a>
		
	</div>
  </div>
</div>