<div id="header">
  <div class="wrapper clearfix">
    <div id="wayki_header">
	<a href="/">
	<img alt="Wayki" id="wayki-logo" src="/assets/wayki-logo.png">
	</a>
	
	<div id="blog-button" href="http://wayki.co/" target="_blank">
		<a id="button-text" href="http://wayki.co/" target="_blank"><h3>Blog</h3>
		</a>
	</div>
	
<a href="http://wayki.co" class="blog-button">Blog</a>s
		
	</div>
  </div>
</div>