<head>
<script type="text/javascript" src="//use.typekit.net/wmg5noj.js"></script>
<script type="text/javascript" target="_blank">try{Typekit.load();}catch(e){}</script>
</head>
<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content">
      <h2>Checkout</h2>
      <h6>
		  <font size="4">	
		We only accept direct debit as it's safer and cheaper than credit cards. This also limits us to taking orders from the UK only at this time.
		We've chosen UK based, GoCardless, as our payments processor. If you live outside the UK, please sign up to our <a href="http://eepurl.com/uqwXf">International Mailing List</a>.
		
		Your payment information will be collected and secured by GoCardless. The button below will take you through to their website.
        <br />
        <br />
    <center><a href="https://gocardless.com/pay/Y09BRKZA" title="Pay with GoCardless" style="-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;"> <img src="https://s3-eu-west-1.amazonaws.com/gocardless/images/public/buttons/updated/pay-with-gc-large.png" alt="Pay with GoCardless" style="-moz-user-drag:none;-webkit-user-drag:none;-ms-user-drag:none;" /> </a>
	  
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
